.modal__input
  border 0
  display block
  font-size round(fontSize * 1.1)
  min-width 180px
  padding 5px 8px
  width 100%
  max-width 400px
  margin-bottom 20px
  @media only screen and (min-width: sm)
    font-size round(fontSize * 1.2)
    padding 10px 15px
    display inline