.modal__form
  transform translate(-50%, -50%)
  position absolute
  top 50%
  left 50%
  p
    display inline
.modal__text
  color lightColor
  padding-bottom 15px
  text-align center
  font-size 20px
.modal__button
  @media only screen and (min-width: sm)
    padding-left 35px
    display inline