.benefit__cell_width_33
  position relative
  @media only screen and (min-width: sm)
    float left
    width 33%
    margin-bottom 30px
  @media only screen and (min-width: md)
    margin-bottom 50px