.benefit__frame
  border 5px solid themeColor
  height 200px
  margin auto
  position relative
  width 200px
  z-index 2
  background additionalColor
  cursor pointer
  img
    max-height 100%
    max-width 100%
    width auto
    height auto