.sidebar__navigation
  ul
    list-style-type none
    li
      padding 10px 0
      a
        color themeColor
        text-transform uppercase
        font-weight bold
      ul
        li
          padding 5px 0
          margin-left -10px
          a
            color darkColor
            text-transform none
            font-weight normal