.navigation
  bottom 0
  display none
  height 100%
  left 0
  overflow-y scroll
  padding-top 25%
  position fixed
  right 0
  top 0
  z-index 100
  width 100%
  background themeColor
  @media only screen and (min-width: navigationBreakPoint)
    display block
    height auto
    overflow-y visible
    padding-top 0
    position static
    background none
#navigation__box
  height 0
  @media only screen and (min-width: navigationBreakPoint)
    height auto