extends ../layouts/main.pug

block site-content
  include ../includes/main.pug
  include ../includes/center.pug
  include ../includes/benefit.pug
  include ../includes/choice.pug
  include ../includes/call.pug
  include ../includes/brand.pug