extends ../layouts/default.pug

block site-content
  section.section.page
    .section__header.page__header
      .section__title.page__title
        | О компании
    .section__content.page__content
      .text-justify
        p Компания «Полюс-Теплицы» предлагает широкий выбор теплиц и парников из сотового поликарбоната – от эконом- до премиум-класса. Благодаря большому разнообразию моделей, форм и конструкций, в наших каталогах всегда можно подобрать оптимальный вариант теплицы – как для частного использования, так и для оснащения фермерских хозяйств, исходя из заявленных требований и финансовых возможностей.
        h2.page-subtitle Наши приоритеты
        p Компания  работает весьма успешно на рынке теплиц и с самого начала своей деятельности мы были нацелены на создание собственной ниши на сельскохозяйственном рынке России. Сегодня мы предлагаем своим клиентам  только продажу теплиц из поликарбоната. Мы быстро и аккуратно доставим заказанную продукцию на ваш участок, бригада квалифицированных специалистов проведет все монтажные работы по устройству теплицы.
        h2.page-subtitle Качество – превыше всего
        p Особое внимание мы уделяем качеству и безопасности предложенной продукции. Все компоненты теплиц изготовлены из  материалов, соответствующих ГОСТу. Мы даем гарантию на все представленные изделия и материалы.
        h2.page-subtitle Наша цель - ваши благодарные отзывы
        p Наша компания – это дружный и слаженный коллектив, состоящий из профессионалов своего дела. Мы оцениваем свою работу на совесть и оцененную людьми нашу работу и  на благодарные отзывы наших клиентов.
        br
        br
        p Компания «Полюс-Теплицы» – это всегда индивидуальный подход к каждому заказчику, высокая ответственность за предоставленные услуги и полная прозрачность финансовых отношений. Мы всегда готовы ответить на любые интересующие вас вопросы и оказать консультативную помощь в выборе модели теплицы.