// Fonts
baseFont = 'Roboto', sans-serif
titleFont = 'Roboto Condensed', sans-serif
fontSize = 16px
lineHeight = 1.5

// Colors
accentColor = #FF3E33
additionalColor = #b6d8d8
changeColor = 20%
darkColor = #333333
darkLightColor = #F3F3F3
lightColor = #FFFFFF
themeColor = #5c9506
webmikornColor = #FF3E33
darkthemeColor = #B2435E

// Height & width
containerWidth = 1170px
headerHeight = 60px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 768px
md = 992px
lg = 1200px
navigationBreakPoint = lg

// Overlays
accentOverlay = rgba(255, 62, 51, 0.8)
darkOverlay = rgba(0, 0, 0, 0.5)
darkWindow = rgba(0, 0, 0, 0.8)
lightOverlay = rgba(255, 255, 255, 0.45)
themeOverlay = rgba(182, 216, 216, 0.8)
