.button_bg_light
  background darkLightColor
  color themeColor
  transition-duration 0.35s
  font-weight bold
  outline none
  &:active
    color themeColor
  &:focus
    color themeColor
  &:hover
    background additionalColor
    color themeColor
