section.section.benefit
  .section__header.benefit__header
    .wrapper.text-center
      h2.section__title.benefit__title
        | Наши преимущества
  .section__content.benefit__content
    .wrapper
      .benefit__cell
        .benefit__one
          .benefit__photo
            .frame.benefit__frame
              img(src='assets/images/benefit/benefit_1.png')
          .description.benefit__description.text-center
            p
              | Экологичность
            p материалов
      .benefit__cell
        .benefit__one
          .benefit__photo
            .frame.benefit__frame
              img(src='assets/images/benefit/benefit_2.png')
          .description.benefit__description.text-center
            p
              | Качество доставки
            p и установки
      .benefit__cell
        .benefit__one
          .benefit__photo
            .frame.benefit__frame
              img(src='assets/images/benefit/benefit_3.png')
          .description.benefit__description.text-center
            p
              | Консультирование
            p клиентов и помощь
            p при подборе теплицы
      .benefit__cell
        .benefit__one
          .benefit__photo
            .frame.benefit__frame
              img(src='assets/images/benefit/benefit_4.png')
          .description.benefit__description.text-center
            p
              | Индивидуальный
            p подход к каждому
            p заказчику
      .benefit__cell
        .benefit__one
          .benefit__photo
            .frame.benefit__frame
              img(src='assets/images/benefit/benefit_5.png')
          .description.benefit__description.text-center
            p
              | Профессиональный
            p коллектив