section.section.call
  .section__content.center__content
    .conteiner
      .row
        .col-xs-12.col-sm-8.text-center
          p
            | Для получения консультации специалиста свяжитесь с нами по телефонам 
          p
            | +7 (495) 227-57-83, +7 (964) 530-40-43 или оставьте заявку на сайте
        .col-xs-12.col-sm-4
          .button-group
            button.button.button_bg_accent.button_size_large#button__modal Заказать звонок