section.section.center
  .section__header.center__header
    .wrapper.text-center
      h2.section__title.center__title
        | Теплицы и парники для дачи
  .section__content.center__content
    .center__one
      .center__right
      .wrapper
        .center__cell.center__cell_float_left
          .center__description.center__description_position_left#center-text
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed. Donec volutpat, libero eget pulvinar accumsan, mi nunc lacinia urna, et consectetur est justo at turpis. Etiam ornare vel lectus eu finibus. Sed quis porta sapien. Aliquam consequat massa in orci bibendum, eu egestas neque ornare. Aliquam auctor neque vel urna accumsan iaculis. Ut a eleifend neque, ac commodo odio.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed. Donec volutpat, libero eget pulvinar accumsan, mi nunc lacinia urna, et consectetur est justo at turpis. Etiam ornare vel lectus eu finibus. Sed quis porta sapien. Aliquam consequat massa in orci bibendum, eu egestas neque ornare. Aliquam auctor neque vel urna accumsan iaculis. Ut a eleifend neque, ac commodo odio.
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed. Donec volutpat, libero eget pulvinar accumsan, mi nunc lacinia urna, et consectetur est justo at turpis. Etiam ornare vel lectus eu finibus. Sed quis porta sapien. Aliquam consequat massa in orci bibendum, eu egestas neque ornare. Aliquam auctor neque vel urna accumsan iaculis. Ut a eleifend neque, ac commodo odio.
        .center__cell.center__cell_float_left.hidden-xs
          #center-img.center__image.parallax-window(data-parallax='scroll', data-image-src='assets/images/center/center_1.jpg')
            #center-overlay.center__overlay
              .center__border