section.section.command
  .section__header.command__header
    .wrapper.text-center
      h2.section__title.command__title
        | Команда
  .section__content.command__content
    .wrapper
      .command__cell
        .command__one
          .command__photo
            .command__square
            .frame.command__frame
              img(src='assets/images/command/command_1.jpg')
          h3.name.command__name.text-center
            | Ольга Юрьевна Егорова
          .command__post.text-center
            | Руководитель
          .description.command__description.text-center
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
      .command__cell
        .command__one
          .command__photo
            .command__square
            .frame.command__frame
              img(src='assets/images/command/command_1.jpg')
          h3.name.command__name.text-center
            | Ольга Юрьевна Егорова
          .command__post.text-center
            | Руководитель
          .description.command__description.text-center
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
      .command__cell
        .command__one
          .command__photo
            .command__square
            .frame.command__frame
              img(src='assets/images/command/command_1.jpg')
          h3.name.command__name.text-center
            | Ольга Юрьевна Егорова
          .command__post.text-center
            | Руководитель
          .description.command__description.text-center
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
      .command__cell
        .command__one
          .command__photo
            .command__square
            .frame.command__frame
              img(src='assets/images/command/command_1.jpg')
          h3.name.command__name.text-center
            | Ольга Юрьевна Егорова
          .command__post.text-center
            | Руководитель
          .description.command__description.text-center
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis justo quam, non consequat erat interdum sed.
  .section__footer.command__footer
    .wrapper
      .button-group.text-center
        a(href="").button.button_color_theme.button_size_large
          | Вся команда