footer.site__footer.footer
  .wrapper
    .footer__line
  .wrapper
    .corpinfo
        | © «Теплица-Плюс», 2018
    .copyright
      | При использовании материалов ссылка на 
      a.copyright__link(href='https://kupit-teplitsu.ru')
        | kupit-teplitsu.ru
      |  обязательна
    .webmikorn
      a(href='https://webmikorn.ru/', target='_blank')
        | Разработка сайта Микорн