.container
  .row
    .col-xs-5.col-sm-4
      include logo.pug
    .col-xs-7.col-sm-8.text-center
      h1.main__title Теплицы и парники из сотового поликарбоната
main.section.main
  .main__slider
    img.main__img(src='assets/images/main/main__slider_slide_1.jpg')