nav#navigation.navigation
  ul#navigation__list.navigation__list.navigation__hidden
    li
      a(href='#')
        | Главная
    li
      a(href='#')
        | О компании
    li
      a(href='#')
        | Каталог
    li
      a(href='#')
        | Отзывы
    li
      a(href='#')
        | Контакты