
aside.section.sidebar
  form.sidebar__filter.filter(method='post')
    .filter__title Теплицы
    .filter__one
      span.filter__input
        input(type='checkbox', name='cat[]', value='belorusochka', onchange='this.form.submit()')
      span.filter__label
        | Белорусочка
    .filter__one
      span.filter__input
        input(type='checkbox', name='cat[]', value='belorusochka', onchange='this.form.submit()')
      span.filter__label
        | Белорусочка Усиленная
    .filter__one
      span.filter__input
        input(type='checkbox', name='cat[]', value='belorusochka', onchange='this.form.submit()')
      span.filter__label
        | Белорусочка Монолит
    .filter__one
      span.filter__input
        input(type='checkbox', name='cat[]', value='belorusochka', onchange='this.form.submit()')
      span.filter__label
        | Кремлевская Цинк (2,5 м)
    .filter__one
      span.filter__input
        input(type='checkbox', name='cat[]', value='belorusochka', onchange='this.form.submit()')
      span.filter__label
        | Кремлевская Цинк (3 м)
    .filter__title Размер
    .filter__one
      span.filter__input
        input(type='checkbox', name='size[]', value='3x4', onchange='this.form.submit()')
      span.filter__label
        | 3 X 4
    .filter__one
      span.filter__input
        input(type='checkbox', name='size[]', value='3x6', onchange='this.form.submit()')
      span.filter__label
        | 3 X 6
    .filter__one
      span.filter__input
        input(type='checkbox', name='size[]', value='3x8', onchange='this.form.submit()')
      span.filter__label
        | 3 X 8
    .filter__one
      span.filter__input
        input(type='checkbox', name='size[]', value='3x10', onchange='this.form.submit()')
      span.filter__label
        | 3 X 10
    .filter__one
      span.filter__input
        input(type='checkbox', name='size[]', value='mini', onchange='this.form.submit()')
      span.filter__label
        | мини
    .filter__title Форма
    .filter__one
      span.filter__input
        input(type='checkbox', name='form[]', value='arochnaya', onchange='this.form.submit()')
      span.filter__label
        | Арочные
    .filter__one
      span.filter__input
        input(type='checkbox', name='form[]', value='kaplya', onchange='this.form.submit()')
      span.filter__label
        | В форме капли
    .filter__one
      span.filter__input
        input(type='checkbox', name='form[]', value='dvuhskatnyie', onchange='this.form.submit()')
      span.filter__label
        | Двухскатные
    .filter__title Назначение
    .filter__one
      span.filter__input
        input(type='checkbox', name='purpose[]', value='otsinkovannyie', onchange='this.form.submit()')
      span.filter__label
        | Оцинкованные
    .filter__one
      span.filter__input
        input(type='checkbox', name='purpose[]', value='otsinkovannyie', onchange='this.form.submit()')
      span.filter__label
        | Усиленные
    .filter__one
      span.filter__input
        input(type='checkbox', name='purpose[]', value='dlyadachi', onchange='this.form.submit()')
      span.filter__label
        | Для дачи
    .filter__one
      span.filter__input
        input(type='checkbox', name='purpose[]', value='dlyasada', onchange='this.form.submit()')
      span.filter__label
        | Для сада
    .filter__title Производитель
    .filter__one
      span.filter__input
        input(type='checkbox', name='maker[]', value='belarus', onchange='this.form.submit()')
      span.filter__label
        | Республика Беларусь
    .filter__one
      span.filter__input
        input(type='checkbox', name='maker[]', value='novyieformyi', onchange='this.form.submit()')
      span.filter__label
        | «Новые формы»

    
    