.main__title
  color themeColor
  font-family titleFont
  font-size round(fontSize * 1.5)
  position relative
  text-align center
  z-index 2
  text-shadow: 1px 1px 1px #333
  max-width calc(94vw - 30px)
  margin-top 30px
  @media only screen and (min-width: sm)
    font-size round(fontSize * 2.5)
    margin-top 70px
    font-size round(fontSize * 1.8)
