.other
  display block
  padding-top 10px
  text-align center
  background themeColor	
  border-radius 5px
  @media only screen and (min-width: sm)
    bottom 10px
    border-radius 0
    left 75.7%
    margin 0
    padding 0
    position absolute
    right 15px
    text-align center
    top 10px
.other:hover
  background darken(themeColor, changeColor)
  color lightColor