.other__thumbnail
  border 3px solid lightColor
  border-radius 50%
  display inline-block
  height newsThumbnailSize = 100px
  line-height round(newsThumbnailSize * 1.1)
  text-align center
  width newsThumbnailSize
  margin-top 10px
  i
    color lightColor
    font-size round(fontSize * 3)
  @media only screen and (min-width: sm)
    margin-top auto