.news__frame
  margin 0 auto
  max-width 450px
  height auto
  img
    width auto
    height auto
    min-height 100%
    min-width 100%
  @media only screen and (min-width: sm)
    height 12vw
    overflow hidden